@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
html {
            scroll-behavior: smooth;
}
body {
            height: 100vh;
            width: 100vw;
}
nav {
            padding: 17px 0px;
}
section {
            padding: 100px 0px;
}
h1, h2, h3 {
            font-family: "Azeret Mono", monospace;
            font-weight: 800;
}
h4, h5, h6 {
            font-family: "Azeret Mono", monospace;
            font-weight: 600;
}
img {
            width: 100%;
}
ul li {
            list-style: none;
            font-family: "Azeret Mono", monospace;
            font-weight: 500;
}
a {
            text-decoration: none;
            font-family: "Azeret Mono", monospace;
            font-weight: 500;
}
p {
            font-family: "Azeret Mono", monospace;
            font-weight: 500;
}
button {
            font-family: "Azeret Mono", monospace;
            font-size: 18px;
            font-weight: 500;
            background: none;
            border: none;
            cursor: pointer;
}
.container {
            max-width: 1140px;
            margin: auto;
}

/* header/navbar style start */
.nav-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
}
.nav-logo h2 {
            color: #0D1321;
            font-size: 28px;
}
.nav-button button {
            border: 1px solid #0D1321;
            color: #0D1321;
            padding: 15px 20px;
            border-radius: 8px;
            transition: 0.5s;
}
.nav-button button:hover {
            background-color: #0D1321;
            color: #fff;
}
/* header/navbar style end */

/* main/hero section style start */
main {
            background-image: url("assets/Hero-bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100%;
}
.hero-content {
            padding: 30px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
}
.hero-image {
            max-width: 240px;
            margin: auto;
}
.hero-title {
            width: 990px;
            margin: auto;
}
.hero-title h1 {
            font-size: 3rem;
            text-align: center;
}
.hero-desc {
            width: 990px;
            margin: auto;
}
.hero-desc p {
            font-size: 1.2rem;
            text-align: center;
}
.contact-link {
            margin-top: 20px;
            min-height: 40px;
}
.contact-link a {
            padding: 20px 24px;
            background-color: #0D1321;
            color: #fff;
            border-radius: 8px;
            transition: 0.5s;
}
.contact-link a:hover {
            background-color: #fff;
            color: #0D1321;
            border: 1px solid #0D1321;
}
/* main/hero section style end */

/* development field style start */
#development-field {
            background-color: #f8f8f8;
}
.field-title {
            width: 600px;
            margin: auto;
}
.field-title h1 {
            font-size: 2rem;
            text-align: center;
}
.field-desc {
            width: 990px;
            margin: 50px auto;
}
.field-desc p {
            font-size: 1rem;
            text-align: center;
}
.field-content {
            max-width: 950px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 50px;
}
.field-content-area {
            background-color: #fff;
            border-radius: 8px;
            padding: 50px;
}
.field-area-title {
            width: 470px;
}
.field-area-title h3 {
            color: #0D1321;
            font-size: 1.5rem;
}
.field-area-desc {
            width: 500px;
            padding: 30px 0px;
}
.field-area-desc p {
            font-size: 1rem;
            color: #0D1321;
}
.field-area-button button {
            border: 1px solid #0D1321;
            padding: 12px 20px;
            transition: 0.5s;
}
.field-area-button button:hover {
            background-color: #0D1321;
            color: #fff;
}
.field-content-area {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
}
.field-area-image {
            max-width: 280px;
}
/* development field style end */

/* inspiration section style start */
.inspiration-title {
            max-width: 600px;
            margin: auto;
}
.inspiration-title h1 {
            font-size: 2rem;
            text-align: center;
}
.inspiration-desc {
            margin: 50px auto;
            max-width: 990px;
}
.inspiration-desc p {
            text-align: center;
            font-size: 1.1rem;
}
.inspiration-video {
            max-width: 900px;
            margin: auto;
            padding: 30px;
            border: 1px solid #ddd;
            border-radius: 8px;
}
.inspiration-video video {
            width: 100%;
            border-radius: 8px;
}
/* inspiration section style end */

/* target section style start */
.target-title {
            width: 990px;
            margin: auto;
}
.target-title h1 {
            text-align: center;
            font-size: 2rem;
}
.target-desc {
            width: 990px;
            margin: 50px auto;
}
.target-desc p {
            text-align: center;
            font-size: 1.2rem;
}
.target-box-wrapper {
            display: flex;
            flex-direction: row;
            gap: 50px;
}
.target-box {
            width: 370px;
            padding: 40px;
            border-radius: 8px;
}
.box-icon {
            max-width: 60px;
}
.box-title {
            padding: 10px 0px;
}
.box-desc {
            padding: 10px 0px;
}
.box-desc p {
            font-size: 0.8rem;
}
.box-link a {
            text-decoration: underline;
            color: #0D1321;
}
.html {
            background-color: rgba(255, 75, 30, 0.075);
}
.css {
            background-color: rgba(0, 102, 244, 0.075);
}
.javascript {
            background-color: rgba(255, 221, 0, 0.075);
}
/* target section style end */

/* contact section style start */
.form-content {
            padding: 65px 0px;
            border-radius: 10px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/handshake.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}
.contact-title {
            width: 990px;
            margin: auto;
}
.contact-title h1 {
            color: #fff;
            font-size: 2rem;
            text-align: center;
}
.contact-desc {
            width: 990px;
            margin: 50px auto;
}
.contact-desc p {
            color: #fff;
            text-align: center;
            font-size: 1.2rem;
}
.contact-form {
            width: 990px;
            margin: auto;
}
.contact-form form {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 30px;
            max-width: 990px;
            margin: auto;
}
.contact-form form input {
            padding: 15px 20px;
            border-radius: 8px;
            border: none;
            font-family: "Azeret Mono", monospace;
            font-weight: 500;
}
.input-field {
            width: 500px;
}
.input-button {
            cursor: pointer;
            transition: 0.5s;
}
.input-button:hover {
            background-color: #0D1321;
            color: #fff;
}
/* contact section style end */

/* footer section style start */
footer {
            padding: 30px 0px;
            background-color: #f8f8f8;
}
.footer-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
}
.social-link {
            display: flex;
            flex-direction: row;
            gap: 20px;
}
/* footer section style end */